$bgcolor: #555555;
$widgetcolor: #444444;
$textcolor: #DDDDDD;
$hovercolor: lighten($widgetcolor, 3);
$bordercolor: #777777;
$selectcolor: darken($widgetcolor, 3);
$disabledcolor: #AAAAAA;
$textwidgetcolor: #222222;
$scrollhandlecolor: #313131;
$splitterhandlecolor: #373737;