$bgcolor: #555555;
$widgetcolor: #444444;
$textcolor: #DDDDDD;
$hovercolor: #666666;
$bordercolor: #777777;
$selectcolor: #333333;
$disabledcolor: #AAAAAA;
$textwidgetcolor: #222222;
$scrollhandlecolor: #313131;