@import "../var/variables";

QMenuBar 
{ 
    background-color: $widgetcolor;
    color: $textcolor;
//     height: calc($fontsize);
}

QMenuBar::item {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: $hovercolor;
}

QMenuBar::item:pressed {
    background: $selectcolor;
}

QMenuBar::item:disabled {
	color: $disabledcolor;
}

QToolButton {
    background-color: transparent;
    border: none;
    color: $disabledcolor;
}

QToolButton::hover {
    background-color: $hovercolor;
}

QToolButton::pressed {
    background-color: $selectcolor;
}