@import "../var/variables";
@import "../ico/icons";

QMainWindow {
    background-color: $bgcolor;
}

QDialog {
    background-color: $bgcolor;
}

QLabel {
    color: $textcolor;
}

QCheckBox {
    color: $textcolor;
}

QCheckBox:disabled {
    color: $disabledcolor;
}

QLineEdit {
    background: $widgetcolor;
    color: $textcolor;
    border: none;
}

QTableView {
    background-color: $widgetcolor;
    outline: 0;
    border: none;
}

QTableView::item {
    background-color: $widgetcolor;
    color: $textcolor;
    border: 1px solid #6c6c6c;
}

QTableView::item:hover {
    background-color: $hovercolor;
}

QTableView::item:selected {
    background-color: $selectcolor;
}

QHeaderView {
    background: transparent;
}

QTableCornerButton::section {
    background: $widgetcolor;
}

QHeaderView::section {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #616161, stop: 0.5 #505050, stop: 0.6 #434343, stop:1 #656565);
    color: $textcolor;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
}

QListView {
    background-color: $widgetcolor;
    outline: 0;
    border: none;
}

QListView::item {
    background-color: $widgetcolor;
    color: $textcolor;
    outline: 0;
}

QListView::item:hover {
    background-color: $hovercolor;
    outline: 0;
}

QListView::item:selected {
    background-color: $selectcolor;
}

QTreeView {
    background-color: $widgetcolor;
    border: none;
}

QTreeView::item {
    background-color: $widgetcolor;
    color: $textcolor;
}

QTreeView::item:hover {
    background-color: $hovercolor;
}

QTreeView::item:selected {
    background-color: $selectcolor;
}

QScrollBar:horizontal {
    background: transparent;
}

QScrollBar::handle:horizontal {
    background: $scrollhandlecolor;
}

QScrollBar::add-line:horizontal {
    background: none;
}

QScrollBar::sub-line:horizontal {
    background: transparent;
}

QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    background: transparent;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: transparent;
}

QScrollBar:vertical {
    background: transparent;
}

QScrollBar::handle:vertical {
    background: $scrollhandlecolor;
}

QScrollBar::add-line:vertical {
    background: transparent;
}

QScrollBar::sub-line:vertical {
    background: transparent;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: transparent;
}

QToolBar {
    background: $widgetcolor;
    border-top: 1px solid $bordercolor;
}

QToolBar::handle {
    background: $bgcolor;
    width: 2px;
    margin-left: 4px;
    margin-right: 4px;
}

QToolBar::separator {
    background: $bordercolor;
    width: 1px;
    margin: 2px;
}

QComboBox {
    background: transparent;
    selection-background-color: transparent;
    selection-color: $selectcolor;
    color: $textcolor;
}

QComboBox QAbstractItemView {
    border: 1px solid $bordercolor;
    background: $widgetcolor;
    selection-background-color: $bgcolor;
}

QSplitter {
    background-color: $bgcolor;
}

QSplitter::handle:vertical {
    background: $splitterhandlecolor;
    height: 1px;
}

QSplitter::handle:horizontal {
    background: $splitterhandlecolor;
    width: 1px;
}

QTextEdit {
    background: $textwidgetcolor;
    color: $textcolor;
    border: none;
}

QGraphicsView {
    background-color: $widgetcolor;
    border: 1px solid $bordercolor;
}

QTabBar::tab {
    color: $textcolor;
    border: 1px solid $bordercolor;
    border-bottom-color: $widgetcolor;
    background-color: $widgetcolor;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
}

QTabWidget::pane {
    border: 1px solid $bordercolor;
}

QTabBar::tab:last {
    margin-right: 0;
    border-top-right-radius: 3px;
}

QTabBar::tab:selected {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 0px;
}

QTabBar::tab:first:!selected {
    margin-left: 0px;
    border-top-left-radius: 3px;
}

QTabBar::tab:!selected {
    color: $textcolor;
    border-bottom-style: solid;
    margin-top: 3px;
}

QTabBar::tab:!selected:hover {
    padding-bottom: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

QTabBar::close-button {
     image: url($close);
     padding: 3;
}

QTabBar::close-button:hover {
     background-color: $hovercolor;
     border-radius: 8;
}

QMenu {
    background-color: $widgetcolor;
    border: 1px solid $bordercolor;
}

QMenu::item {
    padding: 3px 20px;
    background-color: $widgetcolor;
    color: $textcolor;
}

QMenu::item:selected {
    background-color: $selectcolor;
}

QMenu::item:disabled {
    color: $disabledcolor;
}

QMenu::separator {
    background-color: $bordercolor;
    height: 1px;
}

QMenu::indicator {
    padding-right: -14;
    padding-left: 2;
    width: 12;
}

QMenu::indicator:non-exclusive:checked {
    image: url($check);
}

QGroupBox {
    border: 2px solid $bordercolor;
    border-radius: 5px;
    padding: 5px;
    margin-top: 7px;
}

QGroupBox::title {
    color: $textcolor;
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 0 3px;
}

QSpinBox {
    color: $textcolor;
    border: 2px solid $bordercolor;
    border-radius: 5;
    padding: 2;
    background: transparent;
    font-size: 14px;
}

QTimeEdit {
    background-color: $widgetcolor;
    color: $textcolor;
}

QStatusBar {
    background-color: $widgetcolor;
}

QStatusBar::item {
    border: none;
}

QStatusBar QLabel {
    margin-right: 2;
}

QSlider::groove:horizontal {
    border: 1px solid #999999;
    height: 3px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #B1B1B1, stop:1 #c4c4c4);
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
    border: 1px solid #5c5c5c;
    width: 6px;
    margin: -6px 0;
    border-radius: 3px;
}

QToolTip {
    border: 1px solid $bordercolor;
    background-color: $widgetcolor;
    color: $textcolor;
}