$bgcolor: #1b2838;
$widgetcolor: #2a475e;
$textcolor: #DDDDDD;
$hovercolor: lighten($widgetcolor, 3);
$bordercolor: #2a475e;
$selectcolor: darken($widgetcolor, 3);
$disabledcolor: #AAAAAA;
$textwidgetcolor: #171a21;
$scrollhandlecolor: #313131;
$splitterhandlecolor: #373737;