$bgcolor: #c7dffb;
$widgetcolor: darken($bgcolor, 10);
$altwidgetcolor: darken($widgetcolor, 18);
$textcolor: #333333;
$hovercolor: lighten($widgetcolor, 3);
$bordercolor: darken($widgetcolor, 20);
$selectcolor: darken($widgetcolor, 3);
$disabledcolor: #767676;
$textwidgetcolor: darken($widgetcolor, 15);
$scrollhandlecolor: lighten($widgetcolor, 20);
$splitterhandlecolor: darken($widgetcolor, 10);