$bgcolor: #c7dffb;
$widgetcolor: darken($bgcolor, 10);
$altwidgetcolor: darken($widgetcolor, 18);
$textcolor: #222222;
$hovercolor: lighten($widgetcolor, 6);
$bordercolor: darken($widgetcolor, 20);
$selectcolor: darken($widgetcolor, 6);
$disabledcolor: #767676;
$textwidgetcolor: lighten($widgetcolor, 12);
$scrollhandlecolor: darken($widgetcolor, 30);
$splitterhandlecolor: darken($widgetcolor, 10);
// $fontsize: 9pt;