$bgcolor: #FFFFFF;
$widgetcolor: #8de5ff;
$textcolor: #333333;
$hovercolor: lighten($widgetcolor, 3);
$bordercolor: lighten($widgetcolor, 5);
$selectcolor: darken($widgetcolor, 3);
$disabledcolor: #767676;
$textwidgetcolor: #b6ced7;
$scrollhandlecolor: #6995a9;
$splitterhandlecolor: #D0D0D0;