$bgcolor: #D6D6D6;
$widgetcolor: #BABABA;
$textcolor: #333333;
$hovercolor: lighten($widgetcolor, 3);
$bordercolor: #878787;
$selectcolor: darken($widgetcolor, 3);
$disabledcolor: #767676;
$textwidgetcolor: #DFDFDF;
$scrollhandlecolor: #CFCFCF;
$splitterhandlecolor: #D0D0D0;