$bgcolor: #D6D6D6;
$widgetcolor: #BABABA;
$textcolor: #333333;
$hovercolor: #9F9F9F;
$bordercolor: #878787;
$selectcolor: #969696;
$disabledcolor: #767676;
$textwidgetcolor: #DFDFDF;
$scrollhandlecolor: #CFCFCF;
$splitterhandlecolor: #D0D0D0;