$bgcolor: #D4D4D4;
$widgetcolor: darken($bgcolor, 10);
$altwidgetcolor: darken($widgetcolor, 18);
$textcolor: #333333;
$hovercolor: lighten($widgetcolor, 6);
$bordercolor: darken($widgetcolor, 20);
$selectcolor: darken($widgetcolor, 6);
$disabledcolor: #767676;
$textwidgetcolor: darken($widgetcolor, 15);
$scrollhandlecolor: lighten($widgetcolor, 20);
$splitterhandlecolor: darken($widgetcolor, 10);